{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student management</title>
</head>
<body>

    {% include 'components/_nav.html' %}
    
    <div class="container mx-auto">
        {% block content %} {% endblock content %}
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>